 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                    <hr/>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <p>Megan specializes in environmental communications and has contributed to media and communication projects for various industries including utility providers, environmental non-profits, media production companies and universities.</p>
                </div>
                <div class="col-lg-4">
                    <p>Having recently attended the Firehose Project, an intensive 24-week program where she learned to build Ruby on Rails web apps, Megan is interested in developing innovative web applications to collect scientific data and promote environmental awareness.</p>
                </div>
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <a href="#" class="btn btn-lg btn-outline">
                        <i class="fa fa-download"></i> Download Resume
                    </a>
                </div>
            </div>
        </div>
    </section>