 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                    <hr/>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <p>Megan has contributed to media and communication projects for various industries including utility providers, non-profits, media production companies and universities. She recently attended the Firehose Project, an intensive 24-week program where she learned to build Ruby on Rails web apps.</p>
                </div>
                <div class="col-lg-4">
                    <p>Having previously worked in the fields of scientific research, education, and media, Megan is interested in developing innovative communication strategies, facilitating partnerships between diverse stakeholders, and creating useful information sharing tools.  </p>
                </div>
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <a href="#" class="btn btn-lg btn-outline">
                        <i class="fa fa-download"></i> Download Resume
                    </a>
                </div>
            </div>
        </div>
    </section>